---

---

<section class="section">
  <p class="section-experience">
    Con más de 5 años de experiencia en el campo de la psicología clínica, me he
    especializado en el apoyo psicológico de niños y adolescentes. He trabajado
    en diversos entornos clínicos, incluyendo consultorios privados, centros de
    salud mental y escuelas, brindando asesoramiento y terapia a individuos en
    diferentes etapas de desarrollo.
  </p>

  <h1 class="section-principal">Educación y formación</h1>

  <ul>
    <li>
      <h3>Psicología</h3>
      <span>USB - Cartagena</span>
    </li>
    <li>
      <h3>Especialista en psicología clínica de niños y adolescentes</h3>
      <span>Unisinu - Cartagena</span>
    </li>
    <li>
      <h3>Master en psicoterapia cognitivo - conductual</h3><span
        >Universidad tecnológica internacional</span
      >
    </li>
    <li><h3>Docencia universitaria</h3><span>Universidad Javeriana</span></li>
    <li>
      <h3>Primero auxilios psicológicos</h3><span>Universidad de los Andes</span
      >
    </li>
  </ul>

  <h2>Experiencia</h2>

  <ul>
    <li><strong>Tratamientos del neurodesarrollo.</strong></li>
    <li><strong>Trastornos del estado de ánimo</strong></li>
    <li><strong>Problemas de autoconceptos y autoestima.</strong></li>
    <li><strong>Problemas de aprendizaje</strong></li>
    <li><strong>Desregulación emocional. </strong></li>
    <li><strong>Ejecución de proyectos psicosociales</strong></li>
  </ul>
</section>

<style lang="scss">
  .section {
    padding: var(--m);
    @media (768px <= width <= 884px) {
      padding: var(--md);
    }
    @media (1024px <= width <= 2560px) {
      padding: var(--xl);
    }
    &-experience {
      font-size: 1.125em;
      text-wrap: pretty;
      margin-bottom: 1.25rem;
    }
    &-principal {
      font-size: 2em;
      margin-bottom: 2rem;
      color: var(--title);
      font-weight: 700;
    }
  }
</style>
