---
import Experience from "@components/experience.astro";
import Formation from "@components/formation.astro";
---

<section class="section">
  <p class="section-experience">
    Con más de 5 años de experiencia en el campo de la psicología clínica, me he
    especializado en el apoyo psicológico de niños y adolescentes. He trabajado
    en diversos entornos clínicos, incluyendo consultorios privados, centros de
    salud mental y escuelas, brindando asesoramiento y terapia a individuos en
    diferentes etapas de desarrollo.
  </p>

  <h1 class="section-principal">Educación y formación</h1>
  <Formation />
  <h2 class="text-[1.5rem] text-balance font-semibold text-[#2f5654] mb-6">
    Experiencia
  </h2>
  <Experience />
</section>

<style lang="scss">
  .section {
    padding: var(--m);
    @media (768px <= width <= 884px) {
      padding: var(--md);
    }
    @media (1024px <= width <= 2560px) {
      padding: var(--xl);
    }
    &-experience {
      font-size: 1.125em;
      text-wrap: pretty;
      margin-bottom: 1.25rem;
    }
    &-principal {
      font-size: 2em;
      margin-bottom: 2rem;
      color: var(--title);
      font-weight: 700;
    }
  }
</style>
