---

---

<section class="section">
  <p class="section-experience">
    Con más de 5 años de experiencia en el campo de la psicología clínica, me he
    especializado en el apoyo psicológico de niños y adolescentes. He trabajado
    en diversos entornos clínicos, incluyendo consultorios privados, centros de
    salud mental y escuelas, brindando asesoramiento y terapia a individuos en
    diferentes etapas de desarrollo.
  </p>

  <h1 class="section-principal">Educación y formación</h1>

  <ol class="mb-6">
    <li>
      <h3 class="text-[1.5em] font-semibold">Psicología</h3>
      <span class="text-[1.125em] text-[#2f5654]/50 font-bold"
        >USB - Cartagena</span
      >
    </li>
    <li>
      <h3 class="text-[1.5em] font-semibold">
        Especialista en psicología clínica de niños y adolescentes
      </h3>
      <span class="text-[1.125em] text-[#2f5654]/50 font-bold"
        >Unisinu - Cartagena</span
      >
    </li>
    <li>
      <h3 class="text-[1.5em] font-semibold">
        Master en psicoterapia cognitivo - conductual
      </h3><span class="text-[1.125em] text-[#2f5654]/50 font-bold"
        >Universidad tecnológica internacional</span
      >
    </li>
    <li>
      <h3 class="text-[1.5em] font-semibold">Docencia universitaria</h3><span
        >Universidad Javeriana</span
      >
    </li>
    <li>
      <h3 class="text-[1.5em] font-semibold">
        Primero auxilios psicológicos
      </h3><span class="text-[1.125em] text-[#2f5654]/50 font-bold"
        >Universidad de los Andes</span
      >
    </li>
  </ol>

  <h2 class="text-[1.5rem] text-balance font-semibold text-[#2f5654] mb-6">
    Experiencia
  </h2>
  <ul class="flex flex-col gap-4">
    <li class="text-[1.125em]">
      <strong>Tratamientos del neurodesarrollo.</strong>
    </li>
    <li class="text-[1.125em]">
      <strong>Trastornos del estado de ánimo</strong>
    </li>
    <li class="text-[1.125em]">
      <strong>Problemas de autoconceptos y autoestima.</strong>
    </li>
    <li class="text-[1.125em]"><strong>Problemas de aprendizaje</strong></li>
    <li class="text-[1.125em]"><strong>Desregulación emocional. </strong></li>
    <li class="text-[1.125em]">
      <strong>Ejecución de proyectos psicosociales</strong>
    </li>
  </ul>
</section>

<style lang="scss">
  .section {
    padding: var(--m);
    @media (768px <= width <= 884px) {
      padding: var(--md);
    }
    @media (1024px <= width <= 2560px) {
      padding: var(--xl);
    }
    &-experience {
      font-size: 1.125em;
      text-wrap: pretty;
      margin-bottom: 1.25rem;
    }
    &-principal {
      font-size: 2em;
      margin-bottom: 2rem;
      color: var(--title);
      font-weight: 700;
    }
  }
</style>
