---
import BaseInfo from "@components/about-me/base-info.astro";
import HeroAboutMe from "@components/about-me/hero-about-me.astro";
import Layout from "src/layout/layout.astro";
---

<Layout title="Acerca de | Doris Castillo">
  <main>
    <HeroAboutMe/>
    <BaseInfo/>
  </main>
</Layout>