---
import Faq from "@components/home/faq.astro";
import FraseDelDia from "@components/home/frase-del-dia.astro";
import Hero from "@components/home/hero.astro";
import Servicios from '@components/home/servicios.astro'
import TrainerParents from "@components/home/trainer-parents.astro";
import Layout from "src/layout/layout.astro";

---

<Layout title="integral-mentes">
  <main>
    <Hero />
    <Servicios/>
    <TrainerParents/>
    <!-- todo: crear artículos recomendados -->
    <FraseDelDia/>
    <Faq/>
  </main>
</Layout>
