---
import FaqItem from "@components/faq-item.astro";
---

<section class="p-[1rem]">
  <h2 class="text-center text-[#2C4C4B] text-[2.25rem] font-[600] mb-8">
    Preguntas frecuentes
  </h2>
  <div class="flex flex-col w-[100%] gap-2rem xl:py-[3.25rem] xl:px-[20%]">
    <FaqItem
      title="¡Qué puedo hacer si siento que mi ansiedad o depresión están afectando mi vida diaria?"
      body="Es fundamental buscar apoyo profesional en casos de ansiedad o depresión que interfieran con tu funcionamiento diario. Un psicólogo puede ayudarte a comprender las causas subyacentes de tus síntomas, proporcionarte herramientas para manejar el estrés y desarrollar estrategias para mejorar tu bienestar emocional."
    />
    <FaqItem
      title="¿Cómo puedo mejorar mis habilidades de comunicación en mis relaciones personales?"
      body="Mejorar las habilidades de comunicación implica practicar la escucha activa, expresar tus sentimientos de manera clara y respetuosa, y aprender a manejar los conflictos de manera constructiva. Un psicólogo puede proporcionarte técnicas y ejercicios específicos para fortalecer tus habilidades comunicativas y mejorar tus relaciones interpersonales."
    />
    <FaqItem
      title="¿Qué debo hacer si estoy experimentando problemas de autoestima o inseguridad?"
      body="Trabajar en la autoestima y la seguridad personal es un proceso gradual que puede beneficiarse del apoyo profesional. Un psicólogo puede ayudarte a identificar y desafiar pensamientos negativos sobre ti mismo, desarrollar una imagen más realista y positiva de ti mismo, y cultivar la confianza en tus habilidades y capacidades. Además, se pueden explorar las causas subyacentes de tus sentimientos de inseguridad para abordarlos de manera efectiva."
    />
  </div>
</section>
