<section class="p-[1rem] bg-[#807656] xl:py-[3.25rem] xl:px-[20%]">
  <p class="text-pretty text-[#fafbfc]">
    "Enfrenta tus miedos con valentía; en el proceso de superación y
    auto descubrimiento yace la clave para un crecimiento personal
    significativo.Acepta tus emociones como guías, permitiéndote entender más
    profundamente tus pensamientos y acciones. Recuerda que el auto cuidado es
    esencial: reserva tiempo para ti mismo, nutre tu mente y cuerpo, y cultiva
    relaciones significativas."
  </p>
</section>
